@media screen and (min-width: 700px) and (max-width:1200px){
    .navigation{
        flex-direction: column;
        height: 17vh;
    }
    .nav-left{
        flex-direction: column;
        text-align: center;
    }
    .nav-left a{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .nav-left span{
        font-size: 4vh;
    }
    .nav-left li a{
        font-size: 2vh;
    }
    .form-input{
        font-size: 1.2vh;
        margin-bottom: 2vh;
        padding: .4vh
    }
    .btn{
        font-size: 1.2vw;
        padding: .4vh
    }
    .nav-right{
        margin-top: 1vw;
        margin-left: 6vw;
    }
    .content{
        height: 70vh;
    }
    .content-right img{
        height: 25vh;
        width: 24vw;
    }
    .home-articles h2{
        text-align: center;
        font-size: 3vh;
    }
    .year-box{
        top: 7vh;
    }
    .year-box h3{
        font-size: 3vh;
    }
    .home-article{
        flex-direction: column;
        text-align: center;
        padding-top: 2vw;
    }
    .home-article-content h3{
        font-size: 2.55vh;
    }
    .footers{
        height: 7vh;
    }
    .footers div{
        font-size: 2vw;
        padding: 2px;
    }
    .footers a{
        font-size: 1.9vw;
    }
    .blogpost-content p{
        font-size: 2.3vw;
    }

    .contact h2{
        font-size: 3vh;
    }
    .form-box input, textarea{
        padding: 0.8vh;
        font-size: 1.6vh;
        width: 60vw;
    }
}

@media screen and (min-width: 280px) and (max-width: 700px){
    .navigation{
        flex-direction: column;
        height: 15vh;
    }
    .nav-left{
        flex-direction: column;
        text-align: center;
    }
    .nav-left a{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .nav-left span{
        font-size: 3vh;
    }
    .nav-left li a{
        font-size: 1.7vh;
    }
    .nav-right{
        margin-top: 1vw;
        margin-left: 6vw;
    }
    .form-input{
        font-size: 1.2vh;
        margin-bottom: 2vh;
        padding: .4vh
    }
    .btn{
        font-size: 1.2vh;
        padding: .4vh
    }
    .content{
        margin-top: 4vw;
        margin-bottom :4vw;
    }
    .content-left{
        text-align: center;
        padding-right: 2.6vw;
    }
    .content-left h1{
        font-size: 3vh;
    }
    .content-left p{
        font-size: 2.6vw;
    }
    .content-right {
        display: none;
    }
    .home-articles{
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .home-articles h2{
        text-align: center;
        font-size: 2.5vh;
    }
    .year-box{
        top: 5vh;
        width: 12vw;
    }
    .year-box h3 {
        font-size: 2vh;
    }
    .year-box div{
        font-size: 1.5vh;
        display: flex;
        align-items: center;
        margin-top: 2vw;
    }
    .row{
        overflow: hidden;
    }
    .home-article{
        flex-direction: column;
        text-align: center;
        padding-top: 1vh;
    }
    .home-article-content h3{
        font-size: 1.55vh;
    }
    .home-article-content div{
        font-size: 1.4vh;
        margin-bottom: -3px;
    }
    .home-article-content span{
        font-size: 1.4vh;
    }
    .home-article-img img{
        border-radius: 15px;
        width: 20vw;
    }
    .footers{
        height: 6vh;
    }
    .footers div{
        font-size: 2vw;
        padding: 2px;
    }
    .footers a{
        font-size: 1.9vw;
    }


    .form-box input, textarea{
        padding: 0.8vh;
        font-size: 1.6vh;
        width: 60vw;
    }
    .btn-2{
        margin-top: 1vw;
    }

    .author-info div{
        font-size: 1.5vw;
    }
    .blogpost-content p{
        font-size: 2.3vw;
    }

    .contact h2{
        font-size: 2.5vh;
    }
}
